<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MiniProjet"
        tools:targetApi="31">
        <activity
            android:name=".Mathematiques.QuizActivity"
            android:exported="false"
            android:launchMode="singleTop"/>
        <activity
            android:name=".Mathematiques.TableSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseLevel"
            android:exported="false" />
        <activity
            android:name=".DifficultyActivity"
            android:exported="false" />
        <activity
            android:name=".SelectGameActivity"
            android:exported="false" />
        <activity
            android:name=".CreateAccountActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />

        <!-- Add this new declaration -->
        <activity android:name=".Mathematiques.ResultActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>